*{margin:0;padding:0;}
html,body{
	font-size:16px;
}
body{
	color:#000000;
}
.title{
	width:795px;
	height:40px;
	line-height:40px;
	text-align: center;
	margin:0 auto;
	font-size:24px;
}
.two_title{
	width:795px;
	height:40px;
	line-height:40px;
	margin:0 auto;
	font-size:20px;
}
.one_content{
	width:795px;
	margin:0 auto;
}
.one_content p{
	text-indent:2em;
	margin-left:40px;
	line-height:20px;
	font-size:16px;
}
